@using FinancialApplication.Models
@model LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Bootstrap Admin App + jQuery">
    <meta name="keywords" content="app, responsive, jquery, bootstrap, dashboard, admin">
    <title>ReFund</title>
    <!-- =============== VENDOR STYLES ===============-->
    <!-- FONT AWESOME-->
    <link rel="stylesheet" href="~/backend-jquery/vendor/fontawesome/css/font-awesome.min.css">
    <!-- SIMPLE LINE ICONS-->
    <link rel="stylesheet" href="~/backend-jquery/vendor/simple-line-icons/css/simple-line-icons.css">
    <!-- =============== BOOTSTRAP STYLES ===============-->
    <link rel="stylesheet" href="~/backend-jquery/app/css/bootstrap.css" id="bscss">
    <!-- =============== APP STYLES ===============-->
    <link rel="stylesheet" href="~/backend-jquery/app/css/app.css" id="maincss">
    <link href="~/Content/custom.css" rel="stylesheet" />
</head>

<body>
    <div class="wrapper">
        <div class="block-center mt-xl wd-xl">
            <!-- START panel-->
            <div class="panel panel-danger panel-flat">
                <div class="panel-heading text-center">
                    <a href="@Url.Action("Index","Landing")" class="logo-register">
                        ReFund
                    </a>
                </div>
                <div class="panel-body">
                    <p class="text-center pv">SIGN IN TO CONTINUE</p>
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "mb-lg", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group has-feedback">
                            <input id="Email" name="Email" type="email" placeholder="Enter email" autocomplete="off" required class="form-control">
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "fa fa-envelope form-control-feedback text-muted" })
                        </div>
                        <div class="form-group has-feedback">
                            <input id="Password" name="Password" type="password" placeholder="Password" required class="form-control">
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "fa fa-lock form-control-feedback text-muted" })
                        </div>
                        <div class="clearfix">
                            <div class="checkbox c-checkbox pull-left mt0">
                                <label>
                                    <input id="RememberMe" type="checkbox" value="" name="RememberMe">
                                    <span class="fa fa-check"></span>Remember Me
                                </label>
                            </div>
                            <div class="pull-right">
                                <a href="@Url.Action("ForgotPassword","Account")" class="text-muted">Forgot your password?</a>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-block btn-default mt-lg">Login</button>
                    }
                    <p class="pt-lg text-center">Need to Signup?</p><a href="@Url.Action("Register","Account")" class="btn btn-block btn-default">Register Now</a>
                </div>
            </div>
            <!-- END panel-->
            <br />
            <!-- START panel-->
            <div class="panel panel-flat">
                <div class="panel-body">
                    <a class="btn btn-block btn-default" href="@Url.Action("GuestLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl })">LOG IN AS GUEST ROLE</a>
                </div>
            </div>
            <!-- END panel-->
            <br />
        </div>
    </div>
    <!-- =============== VENDOR SCRIPTS ===============-->
    <!-- MODERNIZR-->
    <script src="~/backend-jquery/vendor/modernizr/modernizr.custom.js"></script>
    <!-- JQUERY-->
    <script src="~/backend-jquery/vendor/jquery/dist/jquery.js"></script>
    <!-- BOOTSTRAP-->
    <script src="~/backend-jquery/vendor/bootstrap/dist/js/bootstrap.js"></script>
    <!-- STORAGE API-->
    <script src="~/backend-jquery/vendor/jQuery-Storage-API/jquery.storageapi.js"></script>
    <!-- PARSLEY-->
    <script src="~/backend-jquery/vendor/parsleyjs/dist/parsley.min.js"></script>
    <!-- =============== APP SCRIPTS ===============-->
    <script src="~/backend-jquery/app/js/app.js"></script>
</body>

</html>